<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.scorekeeper_theavengers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectFirstCharacterActivity" />
        <activity
            android:name=".SelectSecondCharacterActivity" />
        <activity
            android:name=".SelectArenaActivity" />
        <activity
            android:name=".BattleActivity" />
    </application>
</manifest>